<html>
    <head>
        <title>
            Source Code
        </title>
    </head>
    <body>
        <h1>
            Source code
        </h1>
        <a href = "https://esceeles.pythonanywhere.com/static/src/Clue.py"> Clue.py</a><br>
         <a href = "https://esceeles.pythonanywhere.com/static/src/README.md"> README.md</a><br>
          <a href = "https://esceeles.pythonanywhere.com/static/src/ai.py"> ai.py</a><br>
           <a href = "https://esceeles.pythonanywhere.com/static/src/beautiful.py"> beautiful.py</a><br>
            <a href = "https://esceeles.pythonanywhere.com/static/src/beautifulThreads.py"> beautifulThreads.py</a><br>
             <a href = "https://esceeles.pythonanywhere.com/static/src/enterPuzzlePage.html"> enterPuzzlePage.html</a><br>
              <a href = "https://esceeles.pythonanywhere.com/static/src/error.html"> error.html</a><br>
               <a href = "https://esceeles.pythonanywhere.com/static/src/flask_app.py"> flask_app.py</a><br>
                <a href = "https://esceeles.pythonanywhere.com/static/src/importDict.py"> importDict.py</a><br>
                 <a href = "https://esceeles.pythonanywhere.com/static/src/info.html"> info.html</a><br>
                  <a href = "https://esceeles.pythonanywhere.com/static/src/inputPuzzle.py"> inputPuzzle.py</a><br>
                   <a href = "https://esceeles.pythonanywhere.com/static/src/main.py"> main.py</a><br>
                    <a href = "https://esceeles.pythonanywhere.com/static/src/nocache.py"> nocache.py</a><br>
                     <a href = "https://esceeles.pythonanywhere.com/static/src/output.py"> output.py</a><br>
                      <a href = "https://esceeles.pythonanywhere.com/static/src/outputSteps.py"> outputSteps.py</a><br>
                       <a href = "https://esceeles.pythonanywhere.com/static/src/strategy.py"> strategy.py</a><br>
        <h4>
            Dictionary database to be saved as "mobythes.aur" with source code:
        </h4>
        <a href = "https://github.com/words/moby.git">Moby Thesaurus</a>
    </body>
</html>